services:
  heron:
    image: ${HERON_IMAGE}
    environment:
      NEXTAUTH_URL: ${NEXTAUTH_URL}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      BASE_ADMIN_EMAIL: ${BASE_ADMIN_EMAIL}
      DEV_AUTH_BYPASS: ${DEV_AUTH_BYPASS:-false}
      CMS_DB_PATH: ${CMS_DB_PATH:-/app/data/cms.db}
      S3_REGION: ${S3_REGION}
      S3_BUCKET: ${S3_BUCKET}
      S3_PUBLIC_BASE_URL: ${S3_PUBLIC_BASE_URL}
      S3_ENDPOINT_URL: ${S3_ENDPOINT_URL}
      S3_FORCE_PATH_STYLE: ${S3_FORCE_PATH_STYLE}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      NEXT_PUBLIC_IMAGE_BASE_URL: ${S3_PUBLIC_BASE_URL}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
    ports:
      - "3000:3000"
    volumes:
      - cms_data:/app/data

volumes:
  cms_data:
