// Import Bootstrap CSS (pre-compiled)
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'font-awesome/css/font-awesome.min.css';

// Custom theme overrides
:root {
  --bs-body-bg: #969088;
  --bs-primary: #969088;
  --bs-secondary: #bd5d38;
}

body {
  font-family: 'Gotham', sans-serif !important;
  background-color: #969088;
}

.navLink {
  color: #c9c1c1;
  font-weight: 300;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: color 0.3s, background-color 0.3s;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 2rem;
  margin-right: 1.5rem;
}

.social-icons .social-icon:last-child {
  margin-right: 0;
}

.social-icons .social-icon:hover {
  background-color: #bd5d38;
}

a {
  color: var(--bs-link-color);
  text-decoration: none;
}

h1 {
  font-weight: bolder;
}

.img-thumbnail {
  padding: 0px;
}

.white-text {
  color: white;
}

.section-divider {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-divider .divider-line:first-child {
  margin-right: 1rem;
}

.section-divider .divider-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: whitesmoke;
  border-radius: 1rem;
  border-color: whitesmoke;
}

.section-divider .divider-icon {
  color: whitesmoke;
  font-size: 2rem;
}

.section-divider .divider-line:last-child {
  margin-left: 1rem;
}
